main {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

main, .flex-container {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
  padding: 10px;
}

label {
  font-size: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}
